/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Navigation */
.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn, .btn-nav {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-nav {
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn:hover, .btn-nav:hover {
    background-color: #0056b3;
}

/* Form Styles */
form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
}

/* Error Messages */
.error {
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

/* Weather Card Styles */
.weather-card {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#fiveDayForecast .weather-card:not(:last-child) {
    margin-bottom: 20px;
}

.weather-icon {
    width: 100px;
    height: 100px;
}

.weather-data {
    text-align: center;
    padding: 20px 0;
}

.city-name {
    font-size: 24px;
    font-weight: bold;
}

.temperature {
    font-size: 48px;
}

.description {
    font-style: italic;
}

/* Toggle Button */
#toggleButton {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

#toggleButton:hover {
    background-color: #0056b3;
}

/* Profile styles */
.saved-locations {
    list-style-type: none;
    padding: 0;
}

.saved-locations li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Login & Register styles */
.login-box,
.register-box {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.login-box h2,
.register-box h2 {
    text-align: center;
}

.login-button,
.register-button {
    width: 100%;
}

.error-message {
    color: red;
    font-weight: bold;
}

