html,
body {
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: scroll;
  /*background: slateblue;*/

  background-image: url("https://img.freepik.com/free-photo/fluffy-clouds-sky_23-2148824939.jpg?t=st=1698435176~exp=1698435776~hmac=638bfa48e3f2ed3fd3a9077ff4b15556ef454217209424c43b09553855f8b8c6");
  background-repeat: no-repeat;
  background-size: cover;
}

#nav {
  margin: 0;
  padding: 20px;
  font-size: 3em;
  font-weight: 600;
  background-color: transparent !important;
}

#nav li {
  color: white;
  text-align: center;
  margin: 20px;
}
#main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 20px;
  padding: 20px;
  /*background-color:coral*/
  position: relative;
}

.modal{
  display: block;
  color:black;
  text-align: center;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  /*background-color: blue*/
  position: relative;
}

.heading h1 {
  color: white;
  font-size: 5em;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  /*background-color: coral*/
}

.login-btn a {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  background-color: rgb(229, 76, 76);
  border: 1px solid;
  border-radius: 15px 15px 15px 15px;
}

.card-group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  /*background: lightslategray*/
  background-color: #0096ff;
  position: relative;
}

.card {
  text-align: center;
  color: whitesmoke;
  max-width: 100%;
  min-height: 200px;
  margin: 20px;
  position: relative;
  background-image: url("https://t3.ftcdn.net/jpg/01/02/64/28/360_F_102642850_Mca9lTRDH60DQin39YwCF5Jzd15lcdoo.jpg");
  background: linear-gradient(to bottom, rgb(46, 177, 229), #8ccfe9);
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 10px 20px;
}

.temp {
  font-size: 4em;
  font-weight: 600;
}

