html,
body {
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
  /*background: slateblue;*/
  background-size: cover;
  background-color:skyblue;
}

#nav {
  display:none;
  margin: 0;
  padding: 20px;
  font-size: 3em;
  font-weight: 600;
  background-color: transparent !important;
}

#nav li {
  display:none;
  color: white;
  text-align: center;
  margin: 20px;
}
#main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  margin: 20px;
  padding: 20px;
  /*background-color:coral*/
  position: relative;
}

.regForm{
  width: 50%;
  height: 100%;
  gap: 30px;
}

.regForm .regForm-group {
  justify-content: center;
  gap: 10px;
}

.regForm label{
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  color:black;
}

.regForm .regForm-group input{
  width: 400px;
  height: auto;
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  border-radius: 15px 15px 15px 15px;
}

.login-btn {
  width: 250px;
  height: 50px;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

.register-btn {
  width: 250px;
  height: 50px;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  border: 1px solid;
}