{% extends 'base.html' %}
{% block head %}
    <!--Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename="/css/register.css") }}">
{% endblock %}
{% block content %}
    <form action="{{ url_for('register') }}"class="form d-flex flex-column regForm" method="post">
        <div class="form-group regForm-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group regForm-group ">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary register-btn">Register</button>
        <a href="{{ url_for('login') }}" class="btn btn-link login-btn">Login</a>
    </form>
{% endblock %}



