{% extends "base.html" %}
{% block head %}
    <!--Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename="css/weather.css")}}">
{% endblock %}
{% block content %}
     <section class="section-1">
         <!--Search Bar-->
         <form action="{{ url_for('weather') }}" id="locForm" class="form locForm" method="POST">
             <div class="form-group locFormGroup d-flex">
                 <label for="zipCodeInput" id="zipCodeLabel">ZipCode</label>
                 <input type="text" class="form-control" id="zipCodeInput" placeholder="Enter ZipoCode">
                 <button class="btn btn-primary search-btn">Search</button>
             </div>
         </form>
         <br>
         <br/>
          <div class="heading">
            <h2>Today's Forecast</h2>
          </div>
          <br />
          <br />
        </section>
    <!--Card Group for Today's weather -->
    <div id="t-weather " class="card-group shadow-lg text-center">
        <div class="card shadow-lg" id="t-weather-card">
            <div class="card-body">
                <div class="city">
                    <!-- Location details-->
                    <h1 class="card-title">Piscataway</h1>
                </div>
                <!-- Weather details-->
                <div class="wether-details">
                    <!--  Current Temperture-->
                    <p class="temp">52</p>
                </div>
                <div class="weather-condition">
                    <!--Weather condition-->
                    <p>partly cloudy</p>
                </div>
                <div class="card-footer">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="332"
                            height="32"
                            fill="currentColor"
                            class="bi bi-star"
                            viewBox="0 0 16 16"
                    >
                        <path
                                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                        />
                    </svg>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
    <!-- Card Group for Five day forecast --->
    <div id="f-weather" class="card-group shadow-lg text-center">
            <div class="card shadow-lg" id="card-1">
                <div class="card-body">
                    <div class="city">
                        <!-- Location details-->
                        <h1 class="card-title">Piscataway</h1>
                    </div>
                    <!-- Weather details-->
                    <div class="wether-details">
                        <!--  Current Temperture-->
                        <p class="temp">52</p>
                    </div>
                    <div class="weather-condition">
                        <!--Weather condition-->
                        <p>partly cloudy</p>
                    </div>
                    <div class="card-footer">
                        <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="332"
                  height="32"
                  fill="currentColor"
                  class="bi bi-star"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                  />
                </svg>
                    </div>
                </div>
            </div>
            <br>
            <div class="card shadow-lg" id="card-2">
                <div class="card-body">
                    <div class="city">
                        <!-- Location details-->
                        <h1 class="card-title">Piscataway</h1>
                    </div>
                    <!-- Weather details-->
                    <div class="wether-details">
                        <!--  Current Temperture-->
                        <p class="temp">52</p>
                    </div>
                    <div class="weather-condition">
                        <!--Weather condition-->
                        <p>partly cloudy</p>
                    </div>
                    <div class="card-footer">
                        <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="332"
                  height="32"
                  fill="currentColor"
                  class="bi bi-star"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                  />
                </svg>
                    </div>
                </div>
            </div>
            <br>
            <div class="card shadow-lg" id="card-3">
                <div class="card-body">
                    <div class="city">
                        <!-- Location details-->
                        <h1 class="card-title">Piscataway</h1>
                    </div>
                    <!-- Weather details-->
                    <div class="wether-details">
                        <!--  Current Temperture-->
                        <p class="temp">52</p>
                    </div>
                    <div class="weather-condition">
                        <!--Weather condition-->
                        <p>partly cloudy</p>
                    </div>
                    <div class="card-footer">
                        <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="332"
                  height="32"
                  fill="currentColor"
                  class="bi bi-star"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                  />
                </svg>
                    </div>
                </div>
            </div>
            <br>
            <div class="card shadow-lg" id="card-4">
                <div class="card-body">
                    <div class="city">
                        <!-- Location details-->
                        <h1 class="card-title">Piscataway</h1>
                    </div>
                    <!-- Weather details-->
                    <div class="wether-details">
                        <!--  Current Temperture-->
                        <p class="temp">52</p>
                    </div>
                    <div class="weather-condition">
                        <!--Weather condition-->
                        <p>partly cloudy</p>
                    </div>
                    <div class="card-footer">
                        <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="332"
                  height="32"
                  fill="currentColor"
                  class="bi bi-star"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                  />
                </svg>
                    </div>
                </div>
            </div>
            <br>
            <div class="card shadow-lg" id="card-5">
                <div class="card-body">
                    <div class="city">
                        <!-- Location details-->
                        <h1 class="card-title">Piscataway</h1>
                    </div>
                    <!-- Weather details-->
                    <div class="wether-details">
                        <!--  Current Temperture-->
                        <p class="temp">52</p>
                    </div>
                    <div class="weather-condition">
                        <!--Weather condition-->
                        <p>partly cloudy</p>
                    </div>
                    <div class="card-footer">
                        <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="332"
                  height="32"
                  fill="currentColor"
                  class="bi bi-star"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"
                  />
                </svg>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
